# Dependencias
/node_modules
/.pnp
.pnp.js

# Producción / Compilación
/build
/dist

# Tests y cobertura
/coverage

# Logs y registros
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Archivos del sistema operativo y editores
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
