.footer {
    background-color: #442d1c;
    color: #e8d1a7;
    text-align:center;
    margin-top: 32px;
    border-radius: 12px;
    border-top: 3px solid #9d9167;
}
.footer p {
    margin: 0;
    font-size: 0.95rem;
}